/* line 6, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
html {
  /*not rendering*/
}

/* line 13, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
body div.profile-info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
body div.profile-info span {
  display: block;
  text-align: center;
}
/* line 24, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
body .top-links {
  display: block;
  float: right;
  margin-bottom: 20px;
}
/* line 29, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
body div.editing-links {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 37, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
body input#profile_first_name, body input#profile_last_name, body input#profile_location {
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px lightgrey;
  min-width: 385px;
  max-height: 100px;
}
/* line 45, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/profiles.scss */
body input[type=submit] {
  padding: 50px;
}
/* line 1, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: auto;
  margin: 33px;
}

/* line 10, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 33px;
}

/* line 16, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 46, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 51, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 55, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 61, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 69, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 80, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 86, /Users/Paige/apps/exercises/rails-projects/Inspire/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   max-width: 1080px;
 }

nav.sidebar {
    float:right;
    width:100px;


}

 ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-width: 20%;
      background-color: #f1f1f1;
      height: 300px; /* Full height */
      position: fixed; /* Make it stick, even on scroll */
      overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
ul.nav li{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}
ul.nav li a {
    display: block;
    text-align: center;
    padding: 20px;
}

ul.nav li a:hover {
    background-color: #555;
    /*change to proper colours*/
    color: white;
}
ul.nav li a:active {
    background-color: #4CAF50;
    color: white;
}









h1, h2, h3, p, strong {
  font-family: 'Open Sans', sans-serif;

}




  h1 {
    /*font-size: 95pt;*/
    font-weight: 600;
    text-align: center;

  }

  h2 {
    /*font-size: 70pt;*/
  }

p {
    display:block;
    /*font-size: 50pt;*/
}


section {
  border: 1px lightgrey;
  border-radius: 10px;
  box-shadow: 4px 4px lightgrey;
  padding-bottom: 20px;

}

label {
  /*font-size: 50pt;*/
  margin-bottom: 10px;
  text-shadow: 1px 1px lightgrey;
  font-weight: light;
}
