// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
  // background-image: url(/images/blue.jpg);
/*not rendering*/
}

body {

 div.profile-info {
   text-align: center;
    margin-left: auto;
    margin-right: auto;

span {
  display: block;
  text-align: center;
}

}
  .top-links {
    display: block;
    float:right;
    margin-bottom:20px;
  }
  div.editing-links {
    text-align: center;
     margin-left: auto;
     margin-right: auto;

  }


  input#profile_first_name, input#profile_last_name, input#profile_location {
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px lightgrey;
    min-width: 385px;
    max-height: 100px;
  }

  input[type=submit]{
    padding: 50px;
  }

}
